@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300);
body {
  background-color: #f2f2f2;
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
.navbar-default {
  background-color: #333333;
  border-color: #222222;
  color: white;
}
.navbar-default .navbar-brand {
  color: white !important;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  font-size: 25px;
  padding-left: 60px;
  position: relative;
}
.navbar-default .navbar-brand img {
  height: 45px;
  margin-top: -12px;
  vertical-align: top;
  display: inline;
  position: absolute;
  left: 10px;
}
.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .active a:focus {
  background-color: #272727;
  color: white;
}
.navbar-default .navbar-nav li a {
  color: white;
}
.navbar-default .navbar-nav li a:hover {
  background-color: #272727;
  color: white;
}
/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", "sans-serif";
  font-weight: 300;
  color: #333;
}
/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
}
.centered {
  text-align: center;
}
/* Links */
a {
  color: #3bc492;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover,
a:focus {
  color: #c0392b;
  text-decoration: none;
  outline: 0;
}
a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */
#headerwrap {
  background-color: #0D93B9;
  color: white;
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-top: 60px;
  padding-bottom: 0;
}
#headerwrap a {
  color: #e8d34f;
}
#headerwrap a:hover,
#headerwrap a:focus {
  color: #f1e493;
}
#headerwrap h1,
#headerwrap h2,
#headerwrap h3 {
  color: white;
}
#headerwrap h1 {
  margin-top: 30px;
  color: white;
  font-size: 70px;
}
#headerwrap h2 {
  color: white;
  font-size: 40px;
}
#headerwrap h3 {
  color: white;
  font-size: 30px;
}
#headerwrap h5 {
  color: white;
  font-weight: 700;
  text-align: left;
}
#headerwrap p {
  text-align: left;
  color: white;
  font-size: 18px;
}
/* intro Wrap */
#intro {
  padding-top: 50px;
  border-top: #bdc3c7 solid 5px;
}
#features {
  padding-top: 50px;
  padding-bottom: 50px;
}
#features .ac a {
  font-size: 20px;
}
/* Technology Wrap */
#technologywrap {
  background-color: #379e5e;
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}
#technologywrap a {
  color: #e8d34f;
}
#technologywrap a:hover,
#technologywrap a:focus {
  color: #f1e493;
}
#technologywrap h1,
#technologywrap h3 {
  color: white;
}
#technologywrap h3 {
  color: white;
  font-size: 30px;
}
#technologywrap .accordion a.accordion-toggle {
  font-size: 20px;
}
#technologywrap .accordion a.accordion-toggle:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f078";
  width: 1.28571429em;
  text-align: center;
}
#technologywrap .accordion a.accordion-toggle.collapsed:before {
  content: "\f054";
}
#technologywrap #accordion_tech_img div > img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 300px;
  margin: auto;
}
#featurewrap {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}
#featurewrap #feature_icon {
  font-size: 250px;
  text-align: center;
  display: block;
  margin: auto;
  color: #379e5e;
  padding: 20px;
  padding-top: 60px;
}
/* Technology Wrap */
#usagewrap {
  background-color: #379e5e;
  color: white;
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}
#usagewrap a {
  color: #e8d34f;
}
#usagewrap a:hover,
#usagewrap a:focus {
  color: #f1e493;
}
#usagewrap h1,
#usagewrap h3 {
  color: white;
}
#testwrap {
  display: block;
  padding-top: 50px;
  padding-bottom: 0;
}
#testwrap a.btn-manageacloud {
  font-size: 30px;
  display: block;
  margin-top: 300px;
}
#testwrap a.btn-manageacloud.single {
  margin-top: 0;
}
#testwrap .btn-success {
  color: #ffffff;
  background-color: #379e5e;
  border-color: #308b53;
}
#testwrap .btn-success:hover,
#testwrap .btn-success:focus {
  background-color: #2a7847;
  border-color: #23653c;
}
#testwrap iframe {
  width: 100%;
  border: 1px solid #aaaaaa;
  min-height: 700px;
}
#downloadwrap {
  background-color: #379e5e;
  color: white;
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}
#downloadwrap a {
  color: #e8d34f;
}
#downloadwrap a:hover,
#downloadwrap a:focus {
  color: #f1e493;
}
#downloadwrap h1,
#downloadwrap h3 {
  color: white;
}
#downloadwrap .btn.btn-primary {
  background-color: #e8d34f;
  color: #333333;
  border-color: #f1e493;
}
#downloadwrap .btn.btn-primary:hover {
  background-color: #f1e493;
  color: #4d4d4d;
}
/* Showcase Wrap */
#showcase {
  display: block;
  background-color: #34495e;
  padding-top: 50px;
  padding-bottom: 50px;
}
#showcase h1 {
  color: white;
}
#footerwrap {
  background-color: #2f2f2f;
  color: white;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: left;
}
#footerwrap h3 {
  font-size: 28px;
  color: white;
}
#footerwrap p {
  color: white;
  font-size: 18px;
}
/* Copyright Wrap */
#c {
  background: #333333;
  padding: 15px 0;
}
#c p {
  color: white;
  padding: 0;
  margin: 0;
}
/* Intro logos */
.intro-logo {
  font-size: 160px;
  color: #379e5e;
}
.accordion-group.panel {
  margin-bottom: inherit;
  background-color: inherit;
  border: inherit;
  border-radius: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
}
/* Code */
pre {
  background-color: #333333;
  color: white;
  font-family: monospace;
}
